:root {
    font-size: 10px;
}

li {
    margin: 5px 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgba(230,230,255);
    min-height: 95vh;
    height: auto;
}

iframe {
    border: 0px;
}

.menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    border: 2px black solid;
    border-bottom-width: 0;
}

.menu-item {
    font-size: 5vh;
    margin: auto;
    height: 100%;   
    display: flex;
    flex: 2;
    background-color: rgb(100,255,100);
}

.title {
    font-family: 'Josefin Sans', sans-serif;
    flex:3;
    color: black;
    font-size: 6vh;
    background-image: url('./poze/logo.jpg');
    opacity: 0.8;
}

.darrow {
    height: 5vh;
    margin: auto;  
    margin-left: 0;
}

.menu-item-text {
    margin: auto;
    opacity: 1;  
    line-height: 0;  
}

.text-galerie {
    margin-right: 5px; 
}

a {
    color: inherit;
    text-decoration: inherit; 
}

.galerie {
    position: relative;
}

.galerie-dropdown {
    display: none;
    position: absolute;
    background-color: rgba(100,255,100,0.9);
    text-align: center;
    z-index: 1;
    font-size: 5vh;
    margin-top: 10vh;
    width: 100%;
    border: 0 black solid;        
    border-top-width: 2px;   
}

.galerie:hover .galerie-dropdown {
    display: flex;
    flex-direction: column;
}

.optiune-galerie {
    border: 0 black solid;        
    border-bottom-width: 2px;    
}

.logo {
    height: auto;
    width: auto;
    flex:1;
}

.content {
    min-height: 85vh;
    height: auto;
    border: 2px black solid;
    background: rgba(0,255,0,0.2);
    font-size: 1rem;
    width: 100%;   
}

.meniu {
    display: flex;
    font-size:1.6rem;
}

.descriere {
    flex: 3;
    border: 0 solid rgba(255,0,0,0.2);
    padding-right: 2%;
    border-right-width: 1px;
}

.stiri {
    flex: 1;
    padding-right: 2%;
}    

.descriere-text {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.stiri-text {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.titlu-bilete {
    margin: 10px;
    font-size: 3rem;
    font-weight: bold;
}

.preturi-bilete {
    font-size: 1.8rem;
}

.contact {
    padding-top: 5px;
}

.titlu-contact {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 1vw;
}
.date-contact {
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin-left: 1vw;
}

.harta {
    max-height: 50vh;    
    max-width: 80vw;                
    margin-top: 1vh;
    margin-left: 1vw;
    animation-duration: 1s;
    animation-name: marire;
}

@keyframes marire {
    0% {
        margin-top: 25vh;                
        margin-left: 30vh;        
        max-height: 1vh;    
        max-width: 1vw;   
    }

    100% {
        margin-top: 1vh;        
        margin-left: 1vw;        
        max-height: 50vh;    
        max-width: 80vw;   
    }
}

.content-galerie {
    display: grid;
    height: 50vh;
    grid-template-rows: auto repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.galerie-titlu {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    font-size: 3rem;
    text-align: center;
    justify-self: center;
    margin: 5px;
}

.content-galerie > img {
    width: 90%;
    height: 90%;
    margin: auto;
}


@media screen and (max-width: 780px) {
    .title {
        font-size: 0;
        width: 0;
        flex: 0.5;
    }

    .content-galerie {
        display: grid;
        grid-template-rows: auto repeat(6, 1fr);
        grid-template-columns: 1fr 1fr;
    }

    .galerie-titlu {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
    }

    .content-galerie > img {
        width: 80%;
        height: 80%;
    }
}